/**
 * Style Sheet Homework Assignment 1 - Portfolio
 **/
 * {
    box-sizing: border-box;
    text-align: center;
}
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 32px;
    background: #ffffff;
    background: url(../images/extra_clean_paper.png);
    height: auto;
    line-height: 1
}
header {
    position: fixed;
    top: 0;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #cccccc;
    background: #ffffff;
    height: 75px;
    width: 100%;
    margin: 0 auto;
    border-bottom: #dddddd;
}
.menuBar {
    width: 960px;
    height: 75px;
    top: 0;
    margin: 0 auto;
}
#menu {
    position: relative;
    width: 270px;
    height: 75px;
    float: right;
    text-align: center;
    line-height: 75px;
}
#menu h6 {
    float: left;
    color: #cccccc;
    margin: 0 auto;
}
#menu a {
    float: left;
    text-decoration: none;
    width: 30%;
    color:  #777777;
    font-size: 18px;
}
h1, h2 {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.5;
}
h1 {
    display: block;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
}
h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display: block;
    margin: 13px 30px 13px;
    text-align: left;
    color: #4aaaa5;
}
h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 26px;
    color: #4aaaa5;
}
#myName {
    position: relative;
    background: #4aaaa5;
    width: 320px;
    height: 75px;
    float: left;
    color: white;
    text-align: center;
    line-height: 75px;
}
/* general */
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
#wrapper {
    width: 960px;
    margin: 0 auto;
    margin-top: 120px;
}
#about, #portfolio {
    float: left;
    width: 100%;
    margin-bottom: 100px;
    max-width: 650px;
    margin-right: 20px;
    background: #ffffff;
}
#contact{
    position: relative;
    float: left;
    width: 100%;
    max-width: 650px;
    margin-right: 40px;
    margin-bottom: 100px;
    background: #fff;
    border: 1px solid #ddd;
}
#about hr, #contact hr, #portfolio hr {
    margin-left: 34px;
    margin-right: 34px;
    background: #cccccc;
    height: 3px;
    border: none;
    overflow: hidden;
}
#contact form {
    margin: 20px;
    margin-left: 34px;
    color: #777777;
    font-size: 18px;
}
#contact p {
    float: left;
    margin-top: 25px;
    margin-left: 13px;
    color: #777777;
    font-size: 18px;
}
#about p {
    margin: 20px;
    color: #777777;
    font-size: 20px;
    line-height: 1.2;
    background: #ffffff;
    text-align: left;
}
#contact textarea {
    position: relative;
    float: left;
    width: 100%;
    height: 120px;
    margin-top: 10px;
    margin-left: 13px;
    border: #dddddd solid 1px;
    text-align: left;
}
input {
    position: relative;
    float: left;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left
}
#submit {
    width: 150px;
    height: 50px;
    background: #4aaaa5;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 21px;
    border: none;
    text-align: center;
}
#Portfolio-Pic {
    float: none;
    width: 200px;
    height: auto;
    margin: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.connect {
    float: right;
    width: 270px;
    height: 220px;
    background: #ffffff;
    margin: 0 auto;
}
.connect hr {
    margin-left: 26px;
    margin-right: 26px;
    background: #cccccc;
    height: 3px;
    border: none;
    overflow: hidden;
}
ul {
    margin-left: 26px;
}
a {
    color: #777777;
    font-size: 18px;
}
.portImage img {
  width: 90%;
}
.leftImg {
    position: relative;
    margin:10px;
    overflow: hidden;
    width: 100%;
    display: block;
}
.rightImg {
    position: relative;
    overflow: hidden;
    margin:10px;
    width: 100%;
    display: block;
}
.label {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 90%;
    padding: 15px;
    margin-left: 33px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}
.iconlink {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 3px;
    margin-top: 20px;
}
footer {
  clear: both;
  position: fixed;
  width: 100%;
  height: 75px;
  border-top: solid #4aaaa5 7px;
  bottom: 0px;
  text-align: center;
  color: #cccccc;
  background: #666666;
  line-height: 75px;
}
/* ---  Media Queries --- */
/* -----------------------*/
/*  980 px Screen         */
/* -----------------------*/
@media screen and ( max-width: 980px ) {
  .menuBar{
    width: 90%;
  }
  #wrapper{
    width: 80%;
    margin: 30px auto;
  }
  .connect {
    width: 38%;
  }
  #about,  #contact, #portfolio {
    width: 60%;
  }

}

/* -----------------------*/
/*  768 px Screen         */
/* -----------------------*/
@media screen and ( max-width: 768px ) {
  .menuBar {
    width: 100%;
  }
  #myName {
    width: 100%;
  }
  #menu {
    width: 100%;
  }
  #about, #contact, #portfolio {
    clear: both;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .connect {
    width: 93.2%;
    float: initial;
    clear: both;
}
  .leftImg {
    float: left;
    width: 55%;
  }
  .rightImg {
    float: right;
    width: 55%;
  }
  .label {
  position: absolute;
  margin-left: 0;
  bottom: 20px;
  width: 100%;
  padding: 3px;
  }
}
/* -----------------------*/
/*  640 px Screen         */
/* -----------------------*/
@media screen and ( max-width: 640px ) {
  header{
    position: relative;
  }
    .menuBar {
    width: 100%;
  }
  #myName {
    width: 100%;
  }
  #menu {
    width: 100%;
  }
  #about, #contact, #portfolio {
    width: 90%;
    margin-bottom: 30px;
  }
  .connect {
    width: 90%;
    float: initial;
    clear: both;
  }
  .leftImg {
    float: left;
    width: 100%;
  }
  .rightImg {
    float: left;
    width: 100%;
  }
  .label {
    position: absolute;
    margin-left: 0;
    bottom: 20px;
    width: 100%;
    padding: 3px;
    }
}
